<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rui.ruiengine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.rui.ruiengine.activity.SplashActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.rui.ruiengine.activity.MainActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".activity.SigninActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".activity.SignupActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".activity.ConnectNetElementHubActivity" android:theme="@style/AppTheme.Dark" />
        <activity android:name=".activity.ShowSelectedNetElementActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".activity.ShowBoxStatsGroupActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".activity.DisplayBoxCpuAndSensorActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".activity.DisplayBoxMemActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".activity.DisplayBoxSyslogActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".activity.DisplayBoxSelActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".activity.DisplayBoxFastpathActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity android:name=".activity.DisplayBoxCfgActivity" android:theme="@style/AppTheme.Dark"
            android:configChanges="orientation|keyboard|keyboardHidden"/>

    </application>

</manifest>
